
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">  
        <img src=".\assets\scott-graham-5fNmWej4tAA-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"> 
        <img src=".\assets\annie-spratt-vGgn0xLdy8s-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src=".\assets\andrew-neel-ute2XAFQU2I-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- <img src="" alt=""> -->

  <br>

  <!-- <h1>Computer Science Course </h1>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <h1>Finance Course</h1>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <h1>Civil Engineering Course</h1>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->

  <h1>Welcome to our Course Portal!</h1>

  <p>

    
    <br><br>
    Discover your passion for learning and unlock your potential with our diverse range of courses. Whether you're a student seeking to enhance your knowledge, a professional looking to upskill, or simply an enthusiast eager to explore new subjects, we have something for everyone.
    <br> <br>
    Why choose our Course Portal?
    <br><br>
    1. Expert Instructors: Our courses are led by industry experts and seasoned professionals, ensuring you receive top-quality education and practical insights.
    <br><br>
    2. Flexible Learning: Learn at your own pace and on your schedule. Our courses are designed to fit your busy lifestyle, allowing you to balance work, life, and education seamlessly.
    <br><br>
    3. Wide Range of Topics: From technical skills to creative arts, business strategies to personal development, you'll find an extensive selection of courses covering various fields.
    <br><br>
    4. Hands-On Projects: Get hands-on experience with real-world projects and assignments that reinforce your learning and boost your confidence.
    <br><br>
    5. Interactive Learning: Engage in interactive quizzes, discussions, and peer-to-peer learning, making your learning experience enjoyable and effective.\
    <br><br>
    6. Certification: Earn recognized certificates upon course completion, validating your newly acquired skills and enhancing your resume.
    <br><br>
    7. 24/7 Support: Our dedicated support team is here to assist you with any queries or technical issues you might encounter throughout your learning journey.
    <br><br>
    Get started today and embark on a path of continuous growth and self-improvement. Browse our course catalog, select the ones that align with your goals, and let the learning begin!
    <br><br>
    Don't miss this opportunity to invest in yourself and open doors to a world of knowledge. Join our Course Portal community now!
    <br><br>
    If you have any questions or need assistance, feel free to reach out to our team. Happy learning!
    <br><br>
  </p>


  <!-- <div class="row">
    <div class="col" style="border: 1px solid black; height: 80px;">
      Tejal
    </div>
    <div class="col" style="border: 1px solid black; height: 80px;" >
      Tejal
    </div>
    <div class="col" style="border: 1px solid black; height: 80px;" >
      Tejal
    </div>
  </div> -->

  <h1>Here it from our Alumni</h1>
<div class="row">
  <div class="col">

    <div id="success-card" class="card" style="width: 18rem;">
      <img src=".\assets\Satya.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1>Satya Nadella </h1>
        <p>CEO of Microsoft</p>
        <p class="card-text">Thanks to E-learn, I changed my career path from Business Intelligence Executive to Senior Analyst with a 30% hike in my salary.</p>
      </div>
    </div>
  </div>
  <div class="col">

    <div class="card" style="width: 18rem;">
      <img src=".\assets\wp4056736-sundar-pichai-wallpapers.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1>Sundar Pichai</h1>
        <p>CEO of Google</p>
        <p class="card-text">The certification took me from a Project Manager to a Senior Position with a good hike. All credit to the informative and easy-to-understand online study material!Pichai Sundararajan, better known as Sundar Pichai, is an American business executive. He is the chief executive officer of Alphabet Inc. and its subsidiary Google. </p>
      </div>
    </div>
  </div>
  <div class="col">

    <div class="card" style="width: 18rem;">
      <img src=".\assets\wp6910758-mukesh-ambani-wallpapers.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1>Mukesh Ambani</h1>
        <p>Indian businessman</p>
        <p class="card-text">E-learn's Certified Scrum Master course helped me rise in my career from Principle Software Engineer to Senior Manager. Thank you.</p>
      </div>
    </div>
  </div>
</div>



